/** Body **/

body {
    font-family: monospace;
    /* background: url('img/kidoop.png') no-repeat; */
    background-color: #393D85;
}

/** Page Layout **/

.header {
    height: 121px;
    background: url('img/kidoop.png') no-repeat;
    background-position: -2em -3em;    
    position: fixed;
}

.content {
background: url('img/kidoop.png') no-repeat;
    
background-color: rgba(123, 166, 220, 1); // #537EB4 
    border: 1pt solid #ccc;
    border-radius: 1em;
    padding: 1em;
    margin: 1em;

    overflow-x: hidden;

    -webkit-filter: drop-shadow(2px 2px 2px rgba(0,0,0,0.5));
    filter: drop-shadow(2px 2px 2px rgba(0,0,0,0.5));
    min-width: 800px;
}
