
@-webkit-keyframes movewind {
    0% {background-position: 100em 0;}
    100% {background-position: -100em 0;}
}
@-moz-keyframes movewind {
    0% {background-position: 100em 0;}
    100% {background-position: -100em 0;}
}
@-o-keyframes movewind {
    0% {background-position: 100em 0;}
    100% {background-position: -100em 0;}
}

.wind {
    background: url('../img/wind.jpg') repeat-x;
    /*     background-size: 1980px 1280px; */
    /* position: absolute; */
    /* width: 100%; */
    /* height: 100%; */
    /* z-index: -1; */

     
    /* -webkit-animation: movewind 20s linear infinite; */
/*     -moz-animation: movewind 20s linear infinite; */
/*     -o-animation: movewind 20s linear infinite; */
}
.wind.large {
}
.wind.small {
}
