
/** Stats **/
.stats-target {
    border: double 4px #AFF;
}

.stats-box {
    padding: 0.4em;
    font-size: 8pt;
    color: #DDD;
    /* margin-top: -3em; */
    /* float: left; */
    /* display: none; */
    /* pointer-events: none; */
    background-color: darkslategray;
    border-radius: 1em;
    color: #DDD;
    /* opacity: 0.9; */
}

.stats-box ul {
    margin: 0;
    padding: 0.5em;
    list-style-type: none;
}

.stats-box li {
}

.stats-box .title {
    font-weight: bold;
    color: #FFF;
}

.stats-box .classes {
    font-weight: bold;
    color: #888;
}

.stats-box .stat {
    font-weight: bold;
    color: #333;
}