/** Draggable **/

.drop-container {
}

.contains-dragging {
/*     -webkit-filter: grayscale(80%); */
/*     background-color: #888; */
}
.contains-dragging .drop-container {
    cursor: pointer;
/*     background-color: #0AF; */
/*     opacity: 0.9; */
    
    border: double 1px #AFF
}

.drop-container.dragenter {
    background-color: #CCF;
    border-radius: 2em;
}
.drop-container.dragenter * {
    background-color: #333;
}
.dragenter {
/*     background-color: #F44; */
/*     opacity: 0.5; */
}

[draggable] {
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    /* Required to make elements draggable in old WebKit */
    -khtml-user-drag: element;
    -webkit-user-drag: element;

    cursor: move;
}

[draggable]:hover {
    border: double #AFF
}


[draggable].dragging {
    border: double #AFF
}