
/** Marball **/

marball, .marball {
    text-indent: 4.2em;
/*     line-height: 32px; */
    white-space: nowrap;
    color: #225;
    display: inline-block;
    width: 4em;
    height: 4em;
    border-radius: 4em;
    font-size:16px;
    background: url("img/sprites.png") 0 0;

    -webkit-filter: drop-shadow(2px 2px 2px rgba(0,0,0,0.5));
    filter: drop-shadow(2px 2px 2px rgba(0,0,0,0.5));
    filter: url(shadow.svg#drop-shadow);
    -ms-filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=2, OffY=2,
    Color='#444')";
filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=2, OffY=2, Color='#444')";

}

marball.huge, .marball.huge {
    font-size:48px;
}

marball.large, .marball.large {
    font-size: 24px;
}

marball.small, .marball.small {
    font-size: 8px;
}

marball.tiny, .marball.tiny {
    font-size: 4px;
}

marball.red, .marball.red {
    background: url("img/sprites.png") -0 0;
    background-size: 40em 4em;
}

marball.orange, .marball.orange {
    background: url("img/sprites.png") -4em 0;
    background-size: 40em 4em;
}

marball.yellow, .marball.yellow {
    background: url("img/sprites.png") -8em 0;
    background-size: 40em 4em;
}

marball.green, .marball.green {
    background: url("img/sprites.png") -12em 0;
    background-size: 40em 4em;
}

marball.darkblue, .marball.darkblue {
    background: url("img/sprites.png") -16em 0;
    background-size: 40em 4em;
}

marball.purple, .marball.purple {
    background: url("img/sprites.png") -20em 0;
    background-size: 40em 4em;
}

marball.lightblue, .marball.lightblue {
    background: url("img/sprites.png") -24em 0;
    background-size: 40em 4em;
}

marball.silver, .marball.silver{
    background: url("img/sprites.png") -28em 0;
    background-size: 40em 4em;
}

marball.rainbow, .marball.rainbow {
    background: url("img/sprites.png") -32em 0;
    background-size: 40em 4em;
}

marball.black, .marball.black {
    background: url("img/sprites.png") -36em 0;
    background-size: 40em 4em;
}
