

/** Fieldsets **/

fieldset.relative {
    position: relative;
}

fieldset.fieldset-program {
    width: 800px;
    height: 600px;
    padding: 19px;
    /* margin: 16px; */
}



/** Tiles **/

table.tile-grid {
    border-collapse: collapse;
}

.tile-grid {

}

.tile-grid .tile-row {
    height: 64px;
}

.tile-grid .tile {
    display: inline-block;
    width: 40px;
    height: 40px;
    border: 0.5em #EAEAEC double;
    padding: 6px;
    /* border-radius: 1px; */
}

.tile.left { border-left-color: #00F; }
.tile.right { border-right-color: #00F; }
.tile.down { border-bottom-color: #00F; }
.tile.up { border-top-color: #00F; }


.tile.up.left { 
    border-top-left-radius:1em; 
}
.tile.up.right { 
    border-top-right-radius:1em; 
}
.tile.down.left { 
    border-bottom-left-radius:1em; 
}
.tile.down.right { 
    border-bottom-right-radius:1em; 
}
