

/** Marble **/

marble, .marble {
    display: inline-block;
    width: 64px;
    height: 62px;
    background: url("img/sprites.png") -2px -2px;

    -webkit-filter: drop-shadow(2px 2px 2px rgba(0,0,0,0.5));
    filter: drop-shadow(2px 2px 2px rgba(0,0,0,0.5));
    filter: url(../../assets/shadow.svg#drop-shadow);
    -ms-filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=2, OffY=2,
    Color='#444')";
filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=2, OffY=2, Color='#444')";

}

/** Warp **/

.warp {
    /*background-color: #555;*/
    display: inline-block;
    border-width: 0;
    width: 60px;
    height: 39px;
    background: url("img/sprites.png") -67px -77px;

    -webkit-filter: drop-shadow(2px 2px 2px rgba(0,0,0,0.5));
    filter: drop-shadow(2px 2px 2px rgba(0,0,0,0.5));
    filter: url(../../assets/shadow.svg#drop-shadow);
    -ms-filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=2, OffY=2,
    Color='#444')";
filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=2, OffY=2, Color='#444')";

}


/** Fieldsets **/

fieldset.relative {
    position: relative;
}

fieldset.fieldset-program {
    width: 800px;
    height: 600px;
    padding: 19px;
    /* margin: 16px; */
}



/** Tiles **/

table.tile-grid {
    border-collapse: collapse;
}

.tile-grid {

}

.tile-grid .tile-row {
    height: 64px;
}

.tile-grid .tile {
    display: inline-block;
    width: 40px;
    height: 40px;
    border: 0.5em #EAEAEC double;
    padding: 6px;
    /* border-radius: 1px; */
}

.tile.left { border-left-color: #00F; }
.tile.right { border-right-color: #00F; }
.tile.down { border-bottom-color: #00F; }
.tile.up { border-top-color: #00F; }


.tile.up.left { 
    border-top-left-radius:1em; 
}
.tile.up.right { 
    border-top-right-radius:1em; 
}
.tile.down.left { 
    border-bottom-left-radius:1em; 
}
.tile.down.right { 
    border-bottom-right-radius:1em; 
}
