
/** Tank **/

tank, .tank {
    /* background-image: url(assets/tank.svg); */
    width: 10em;
    height: 5em;
    background-size: 10em 5em;
    display: block;
    font-size: 11px;
}

tank.huge, .tank.huge {
    font-size:48px;
}

tank.large, .tank.large {
    font-size: 24px;
}

tank.small, .tank.small {
    font-size: 8px;
}

tank.tiny, .tank.tiny {
    font-size: 4px;
}