
/** Marble **/

marble {
    display: inline-block;
    width: 64px;
    height: 62px;
    background: url("img/sprites.png") -2px -2px;

    -webkit-filter: drop-shadow(2px 2px 2px rgba(0,0,0,0.5));
    filter: drop-shadow(2px 2px 2px rgba(0,0,0,0.5));
    filter: url(../../assets/shadow.svg#drop-shadow);
    -ms-filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=2, OffY=2,
    Color='#444')";
filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=2, OffY=2, Color='#444')";

}

