.level1 .glass-1 {
    left: 11em;
    top: 9em;
    width: 38em;
    height: 27em;
    z-index: 1;
    padding: 1em;
    /* position: absolute; */
}

.level1 .block-1 { left: 12em; top: 10em; width: 14em; height: 9em; }
.level1 .block-2 { left: 36em; top: 10em; width: 14em; height: 9em; }
.level1 .block-3 { left: 12em; top: 28em; width: 14em; height: 9em; }
.level1 .block-4 { left: 36em; top: 28em; width: 14em; height: 9em; }

.level1 .warp-output {
    left: 29em;
    top: 22em;
}

.level1 .layer-1,
.level1 .layer-2 {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

/* .level1 fieldset, */
.level1 .oopball-input,
.level1 .oopball-output,
.level1 .oopball-program-overlay,
.level1 .oopball-program
{
    position: relative;
    min-height: 16em;
}

.level1 .win {
    background-color: #0AF;
    border-radius: 1em;
}