.level1 {
    position: relative;
    height: 71em;
}

.level1 .glass-1 {
    left: 13em;
    top: 11em;
    width: 36em;
    height: 26em;
    z-index: 1;

    padding: 1em;
    position: absolute;
}

.level1 .glass-2 {
    left: 16em;
    top: 47em;
    width: 30em;
    height: 20em;
    position: absolute;
}

.level1 .block-1 { left: 14em; top: 12em; width: 12em; height: 8em; }
.level1 .block-2 { left: 38em; top: 12em; width: 12em; height: 8em; }
.level1 .block-3 { left: 14em; top: 30em; width: 12em; height: 8em; }
.level1 .block-4 { left: 38em; top: 30em; width: 12em; height: 8em; }

.level1 .warp-output {
    left: 371px;
    top: 296px;
}

.level1 .layer-container {
    height: 47em;
    position: relative;
}
.level1 .layer-1,
.level1 .layer-2 {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.level1 .oopball-program {
    /* height: 47em; */
}

.level1 .oopball-input {
    width: 22em;
    height: 19em;
}

.level1 .infobox {
    float:right;
}

.level1 .win {
    background-color: #0AF;
    border-radius: 1em;
}