
/** Marble **/

marble, .marble {
    position: absolute;
    text-indent: 4.2em;    
    /* line-height: 32px; */
    white-space: nowrap;
    color: #225;
    display: inline-block;
    width: 4em;
    height: 4em;
    font-size:16px;
    background: url("img/sprites.png") 0 0;

    -webkit-filter: drop-shadow(2px 2px 2px rgba(0,0,0,0.5));
    filter: drop-shadow(2px 2px 2px rgba(0,0,0,0.5));
    filter: url(shadow.svg#drop-shadow);
    -ms-filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=2, OffY=2,
    Color='#444')";
filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=2, OffY=2, Color='#444')";

    -ms-transform: rotate(5deg); /* IE 9 */
    /* -webkit-transform: rotate(5deg); */ /* Safari */
    /* transform: rotate(5deg); */
}

marble.red, .marble.red {
    background: url("img/sprites.png") -0 0;
    background-size: 32em 4em;
}

marble.purple, .marble.purple {
    background: url("img/sprites.png") -4em 0;
    background-size: 32em 4em;
}

marble.lightblue, .marble.lightblue {
    background: url("img/sprites.png") -8em 0;
    background-size: 32em 4em;
}

marble.green, .marble.green {
    background: url("img/sprites.png") -12em 0;
    background-size: 32em 4em;
}

marble.darkblue, .marble.darkblue {
    background: url("img/sprites.png") -16em 0;
    background-size: 32em 4em;
}

marble.yellow, .marble.yellow {
    background: url("img/sprites.png") -20em 0;
    background-size: 32em 4em;
}

/** Position **/

.drop-container marble,
.drop-container .marble {
    position: absolute;
}