
/** Marble **/

.marble {
    display: inline-block;
    width: 64px;
    height: 64px;
    background: url("img/sprites.png") -2px -2px;

    -webkit-filter: drop-shadow(2px 2px 2px rgba(0,0,0,0.5));
    filter: drop-shadow(2px 2px 2px rgba(0,0,0,0.5));
    filter: url(shadow.svg#drop-shadow);
    -ms-filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=2, OffY=2,
    Color='#444')";
filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=2, OffY=2, Color='#444')";

}

.marble.red {
    background: url("img/sprites.png") -1px 0px;
}

.marble.purple {
    background: url("img/sprites.png") -64px 0;
}

.marble.lightblue {
    background: url("img/sprites.png") -129px 0;
}

.marble.green {
    background: url("img/sprites.png") -192px 0;
}

.marble.darkblue {
    background: url("img/sprites.png") -256px 0;
}

.marble.yellow {
    background: url("img/sprites.png") -320px 0;
}

/** Position **/

.drop-container .marble {
    position: absolute;
}