
/** Marble **/

marble, .marble {
    text-indent: 71px;    line-height: 32px;
    white-space: nowrap;
    font-size: small;
    color: #777;
    display: inline-block;
    width: 64px;
    height: 64px;
    background: url("img/sprites.png") 0px 0px;

    -webkit-filter: drop-shadow(2px 2px 2px rgba(0,0,0,0.5));
    filter: drop-shadow(2px 2px 2px rgba(0,0,0,0.5));
    filter: url(shadow.svg#drop-shadow);
    -ms-filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=2, OffY=2,
    Color='#444')";
filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=2, OffY=2, Color='#444')";

    -ms-transform: rotate(5deg); /* IE 9 */
    -webkit-transform: rotate(5deg); /* Safari */
    transform: rotate(5deg);
}

marble.red, .marble.red {
    background: url("img/sprites.png") -0px 0px;
}

marble.purple, .marble.purple {
    background: url("img/sprites.png") -64px 0;
}

marble.lightblue, .marble.lightblue {
    background: url("img/sprites.png") -129px 0;
}

marble.green, .marble.green {
    background: url("img/sprites.png") -192px 0;
}

marble.darkblue, .marble.darkblue {
    background: url("img/sprites.png") -256px 0;
}

marble.yellow, .marble.yellow {
    background: url("img/sprites.png") -320px 0;
}

/** Position **/

.drop-container marble,
.drop-container .marble {
    position: absolute;
}